@import "./theme.scss";

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $dark-grey;
    border: 1px solid $dark-grey;

    transition: all 0.2s ease-in-out;
    user-select: none;

    cursor: pointer;

    &:hover {
        background-color: $bg;
    }

}

.left {
    transform: rotate(180deg);
}

.right {
    transform: rotate(0deg);
}

.unclickable {
    background-color: $bg;

}