@import "./theme.scss";

.button {
    // all: unset;
    font-weight: bold;
    background-color: $fg;
    color: $bg;
    border-radius: $br-secondary;

    border: 2px solid $fg;

    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    cursor: pointer;
    font-family: $mono_font;

    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: $dark-grey;
        color: $fg;
        border: 2px solid $dark-grey;
    }

    &:active {
        background-color: $grey;
        color: $bg;
        border: 2px solid $grey;
    }
}